/* ----------------------------------------------------------------

	variables.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for variables. Thanks!
-----------------------------------------------------------------*/


//-------------------- Base Colors --------------------//

$theme-color:                   #d19ca3;
$body-color:                    #FFFFFF;
$heading-color:                 #FFFFFF;

$body-bg:                       #201b30;


//-------------------- Font Families --------------------//

$body-font:                     'Montserrat', sans-serif;
$heading-font:                  'Syncopate', sans-serif;
$third-font:                    'Crafty Girls', cursive;


//-------------------- Redefine Bootstrap Variables ------------//

// Theme Colors
$primary:                       $theme-color;
$secondary:                     #5b5571;

// Link
$link-color:                    #FFFFFF;
$link-decoration:				none;
$link-hover-color:				$theme-color;

// Border
$border-radius:					0;

// Font sizes
$font-size-base:                1.0625rem;

$h1-font-size:                  5.125rem;
$h2-font-size:                  3rem;
$h3-font-size:                  1.875rem;
$h4-font-size:                  1.5rem;
$h5-font-size:                  $font-size-base;
$h6-font-size:                  0.75rem;

// Font Weight
$font-weight-base:              300;

// Line Height
$line-height-base:            	30 / 17;
$line-height-sm:              	42 / 30;
$line-height-lg:              	24 / 14;

// Forms
$input-color:                   #d0d0d0;
$input-border-color:            $theme-color;
$input-border-width:			      0;
$input-btn-focus-color-opacity: 1;

$input-btn-padding-y:           1.5rem;
$input-btn-padding-x:           2.125rem;
$input-btn-font-size:           0.875rem;

$input-btn-padding-y-sm:        1rem;
$input-btn-padding-x-sm:        1.416rem;
$input-btn-font-size-sm:        0.583rem;

$input-btn-padding-y-lg:        2rem;
$input-btn-padding-x-lg:        2.83rem;
$input-btn-font-size-lg:        1.16rem;

$input-btn-line-height:         1;

$input-btn-focus-width:         1px;
$input-focus-border-color:      $theme-color;

// Buttons
$btn-font-family:               $heading-font;
$btn-padding-y:              	$input-btn-padding-y;
$btn-padding-x:              	$input-btn-padding-x;
$btn-font-size:              	$input-btn-font-size;

$btn-padding-y-sm:              $input-btn-padding-y-sm;
$btn-padding-x-sm:              $input-btn-padding-x-sm;
$btn-font-size-sm:              $input-btn-font-size-sm;

$btn-padding-y-lg:              $input-btn-padding-y-lg;
$btn-padding-x-lg:              $input-btn-padding-x-lg;
$btn-font-size-lg:              $input-btn-font-size-lg;

$btn-font-weight:               700;
$btn-line-height:               1;

$btn-border-width:              2px;
$btn-border-radius:             0;


//-------------------- Top Bar --------------------//

$topbar-height:                 2.8125rem;
$topbar-line-height:            2.8125rem;
$topbar-color:                  #5b5571;
$topbar-hover-color:            $theme-color;


//-------------------- Header --------------------//

$header-height:                 6.6875rem;

// Sticky Header
$sticky-header-height:          2.8125rem;


//-------------------- Primary Menu --------------------//

$primary-menu-padding:			2.8125rem;
$sticky-menu-padding:			1.875rem;

$primary-menu-font:             $body-font;
$primary-menu-font-weight:      400;
$primary-menu-font-size:        0.875rem;
$primary-menu-font-tt:          initial;
$primary-menu-font-color:       #FFFFFF;
$primary-menu-font-spacing:     0;

// top Button
$top-btn-font-size:        		1.125rem;
$top-btn-font-color:       		$heading-color;


//-------------------- Section --------------------//

$section-spacer:				6.25rem;


//-------------------- Social Icons Colors --------------------//

$facebook:                    #3B5998;
$delicious:                   #205CC0;
$paypal:                      #00588B;
$flattr:                      #F67C1A;
$android:                     #A4C639;
$smashmag:                    #E53B2C;
$gplus:                       #DD4B39;
$wikipedia:                   #333333;
$stumbleupon:                 #F74425;
$foursquare:                  #25A0CA;
$call:                        #444444;
$ninetyninedesigns:           #F26739;
$forrst:                      #5B9A68;
$digg:                        #191919;
$spotify:                     #81B71A;
$reddit:                      #C6C6C6;
$blogger:                     #FC4F08;
$cc:                          #688527;
$dribbble:                    #EA4C89;
$evernote:                    #5BA525;
$flickr:                      #FF0084;
$google:                      #DD4B39;
$instapaper:                  #333333;
$klout:                       #FF5F52;
$linkedin:                    #0E76A8;
$vk:                          #2B587A;
$rss:                         #EE802F;
$skype:                       #00AFF0;
$twitter:                     #00ACEE;
$youtube:                     #C4302B;
$vimeo:                       #86C9EF;
$aim:                         #FCD20B;
$yahoo:                       #720E9E;
$email3:                      #6567A5;
$macstore:                    #333333;
$myspace:                     #666666;
$podcast:                     #E4B21B;
$cloudapp:                    #525557;
$dropbox:                     #3D9AE8;
$ebay:                        #89C507;
$github:                      #171515;
$googleplay:                  #DD4B39;
$itunes:                      #222222;
$plurk:                       #CF5A00;
$pinboard:                    #0000E6;
$soundcloud:                  #FF7700;
$tumblr:                      #34526F;
$wordpress:                   #1E8CBE;
$yelp:                        #C41200;
$intensedebate:               #009EE4;
$eventbrite:                  #F16924;
$scribd:                      #666666;
$stripe:                      #008CDD;
$print:                       #111111;
$dwolla:                      #FF5C03;
$statusnet:                   #131A30;
$acrobat:                     #D3222A;
$drupal:                      #27537A;
$buffer:                      #333333;
$pocket:                      #EE4056;
$bitbucket:                   #0E4984;
$stackoverflow:               #EF8236;
$hackernews:                  #FF6600;
$xing:                        #126567;
$instagram:                   #3F729B;
$quora:                       #A82400;
$openid:                      #E16309;
$steam:                       #111111;
$amazon:                      #E47911;
$disqus:                      #E4E7EE;
$plancast:                    #222222;
$appstore:                    #000000;
$pinterest:                   #C8232C;
$fivehundredpx:               #111111;
$si_text_color:               #FFFFFF;