
/* ----------------------------------------------------------------

	404.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	404 Page
-----------------------------------------------------------------*/


.error404 {
    position: relative;

    .btn {
        position: absolute;
        bottom: 10.75rem;
        left: 50%;
        @include translateX(-50%);
        z-index: 1;
    }
}