
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


#banner {    
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    position: relative;           

    &.home-banner {
        background-image: url(../images/banner/banner_bg.png);
        height: 25.3125rem; 
    }

    &.page-banner {
        background-image: url(../images/banner/page_banner_bg.png);        
        height: auto;
    }
}