
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/


#page-title {
	position: relative;	
	padding-top: 6.75rem;
	padding-bottom: 6.75rem;

	@include media-breakpoint-up(lg) {
		padding-top: 15rem;
	}
	
	.title {
		display: block;		
		font-family: $heading-font;
		font-size: $h1-font-size;
		font-weight: $font-weight-base;		
		line-height: 1;
		margin-bottom: 0;		

		strong {
			font-weight: $font-weight-bold;
		}
	}	
}