
/*-----------------------------------------------------------------------------------
	typography.scss
-----------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for typography. Thanks!
-----------------------------------------------------------------*/

dl, dt, dd, ol, ul, li {
	margin: 0;
	padding: 0;
}

::selection {
	background: $secondary;
	color: $white;
	text-shadow: none;
}

::-moz-selection {
	background: $secondary; /* Firefox */
	color: $white;
	text-shadow: none;
}

::-webkit-selection {
	background: $secondary; /* Safari */
	color: $white;
	text-shadow: none;
}

:active,
:focus { outline: none !important; }


/* ----------------------------------------------------------------
	Typography
-----------------------------------------------------------------*/

html {
	scroll-behavior: smooth;
	font-size: 100%;

	/*--------------------------------------------------------------
	## Netbook
	--------------------------------------------------------------*/
	@include media-breakpoint-down(xl) {
		font-size: 90%;
	}

	/*--------------------------------------------------------------
	## Tablet
	--------------------------------------------------------------*/
	@include media-breakpoint-down(lg) {
		font-size: 85%;
	}

	/*--------------------------------------------------------------
	## Mobile
	--------------------------------------------------------------*/
	@include media-breakpoint-down(md) {
		font-size: 80%;
	}

	/*--------------------------------------------------------------
	## Mini
	--------------------------------------------------------------*/
	@include media-breakpoint-down(sm) {
		font-size: 75%;
	}
}

body {
	line-height: $line-height-base;
	color: $body-color;
	font-size: $font-size-base;
	font-family: $body-font;
}

iframe { border: none !important; }


/* ----------------------------------------------------------------
	Basic Layout Styles
-----------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $headings-color;
	line-height: 1;
	margin: 0 0 $spacer * 1.875 0;
	font-family: $heading-font;
	font-weight: $font-weight-bold;
}

h1 {
	font-weight: 900;
	line-height: $line-height-base;
}

h4 {
	line-height: 1.5;
}

// h5,
// h6 { margin-bottom: 1.25rem; }

p,
pre,
dl,
dd,
blockquote,
q,
address,
table,
fieldset,
form { margin-bottom: $spacer * 1.875; }

small { font-family: $body-font; }

ul { margin: 0; }
ul li { list-style: none; }

i {
	display: inline-block;
	line-height: inherit;
}

/* Blockquote */
blockquote,
q {
	color: $theme-color;
	display: block;
	font-size: 1.875rem;
	font-style: italic;
	font-weight: 300;
	line-height: 3.75rem;

	&::before {
		color: $theme-color;
		font-size: 3rem;
		font-style: italic;
		font-weight: 300;
		line-height: 1;
		display: block;
		text-align: center;
	}

	&::after {
		content: "";
	}
}