
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block {
	margin-bottom: $spacer * 3;

	.title {
		display: block;
		font-family: $heading-font;
		font-weight: $font-weight-normal;
		line-height: 1;
		margin-bottom: 0;

		strong {
			font-weight: $font-weight-bold;
		}
	}
}