
/*-----------------------------------------------------------------------------------

	Shortcodes: partners.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Partners logo Styles
-----------------------------------------------------------------*/


.logos {
	.logo-item {
		width: 100%;
		text-align: center;
		opacity: 0.5;

		@include transition(opacity 0.3s ease-in-out);

		&:hover {
			opacity: 1;
		}

		img {
			margin: auto;
			max-height: 4.625rem;
		}
	}
}